__TestProjects/HashTag.ApplicationServices.Tests Project/Service References/ServiceReference1/AppService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HashTag.ServiceModel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HashTag.ServiceModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="WcfFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExceptionTypeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InnerFault" nillable="true" type="tns:WcfFault" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Reason" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WcfFault" nillable="true" type="tns:WcfFault" />
</xs:schema>